@font-face {
    font-family: titleFont;
    src: url(./assets/font.otf);
}

body {
    font-family: 'Playfair Display', serif;
    height: 100%;
}

#name-h1 {
    font-family: titleFont, 'Mr Dafoe', cursive;
    text-align: center;
    color: white;
    text-shadow: 4px 4px black;
    white-space: nowrap;
    padding-top: 0.2em;
    transition: text-shadow .3s;
}

#name-h1:hover {
    text-shadow: 4px 4px black, 0 0 100px rgb(255,255,0);
}

#socials {
    width: 100%;
    text-align: center;
}

#socials img {
    width: 5em;
    height: 5em;
    margin: 1em 2em;
    border-radius: 1.3em;
    transition: box-shadow .3s;
}

#socials img:hover {
    box-shadow: 0 0 60px rgb(255,255,0); 
}

#main-content-container {
    position: relative;
    text-align: center;
}

#bio {
    text-align: left;
    padding: 3em;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4em;
}

#bio p {
    font-size: 1.1em;
    font-weight: 420;
    color: black;
}

#bio a {
    color: red;
    text-decoration: none;
}

#bio a:hover {
    text-decoration: underline;
}

#bio .name {
    font-family: 'Mr Dafoe', cursive;
    font-weight: 720;
    font-size: 1.5em;
    line-height: 1em;
}

#bio .go-blue {
    font-family: 'Graduate', cursive;
    font-weight: 720;
}

#bio .go-blue a {
    color: #00274C;
}

#main-carousel-container {
    position: fixed;
    z-index: -1;
}

#carousel-1 {
    background-image: url("./assets/c1.jpg");
    background-size: cover;
    background-position: center;
}

#carousel-2 {
    background-image: url("./assets/c2.jpg");
    background-size: cover;
    background-position: center;
}

#carousel-3 {
    background-image: url("./assets/c3.jpg");
    background-size: cover;
    background-position: center;
}

#credit {
    display: inline-block;
    padding: 0.8em;
    margin: 2em;
    font-family: 'Playfair Display', serif;
    font-size: 0.8em;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1em;
}

#credit a {
    color: red;
    text-decoration: none;
}

#credit a:hover{
    color: red;
    text-decoration: underline;
}

.wendy {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 0.8em;
    font-family: 'Tangerine', cursive;
}

@media (min-width: 850px) and (min-height: 800px) {
    #bio {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        max-width: 70vw;
        max-height: 70vh;
    }

    #socials {
        position: fixed;
        bottom: 1em;
        left: 0;
    }

    #credit {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0.8em;
    }
}

@media (max-width: 500px) {
    #socials img {
        width: 4em;
        height: 4em;
        margin: 1em 1.5em;
    }
}

@media (max-width: 400px) {
    #bio p {
        font-size: 1em;
        color: black;
    }

    #socials img {
        width: 3.5em;
        height: 3.5em;
        margin: 0.5em 1em;
    }
}

@media (max-width: 300px) {
    #bio p {
        font-size: 0.9em;
        color: black;
    }

    #socials img {
        width: 2em;
        height: 2em;
        margin: 0.5em 1em;
    }
}

@media (max-width: 250px) {
    #bio p {
        font-size: 0.8em;
        color: black;
    }
}